html, body {
	font-family: "Myriad Pro", "Trebuchet MS", "Fira Sans", sans-serif;
        margin: auto;
        padding: 0;
        color: Yellow ;
        background-color: #0892d0 ;
        max-width: 632px ;
}
h1, h2, h3 {
	font-family: "Optima", "Franklin Gothic Medium", "Myriad Pro", "Trebuchet MS", "Fira Sans", sans-serif;
}
p {
        margin-bottom: 27px;
        font-size: 20px ;
        line-height: 1.6;
}
p.intro {
	font-family: "Myriad Pro", "Trebuchet MS", "Fira Sans", sans-serif ;
	font-style: italic ;
}
blockquote {
	margin-bottom: 32px ;
	font-size: 18px ;
	line-height: 1.3 ;
}
p.piccredit {
	margin: 0 ;
	text-align: center;
	font-size: 16px ;
}
header {
	margin-top: 32px ;
	margin-bottom: 32px ;
	margin-left: -60px ;
	padding: 0 ;
	text-align: left ;
}
a {
	color: LemonChiffon ;
	text-decoration: underline ;
}
footer {
       	padding: 0 20px;
        margin: 50px 0;
       	text-align: center;
        font-size: 13px ;
}
li {
	margin-bottom: 16px ;
}
details {
		font-size: 18px ;
}
p.social {
	font-size: 13px ;
	text-align: right ;
}
img.centre {
		
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
 
}
