html, body {
	font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Constantia", serif ;
        margin-left: 5em ;
        padding: 0;
        color: Yellow ;
        background-color: #0892d0 ;
        max-width: 40em ;
}
h1, h2, h3 {
	font-family: "Optima", "Candara", "Myriad Pro", "Trebuchet MS", "Fira Sans", sans-serif;
}
p {
        text-indent: 2em ;
	margin-bottom: 0 !important ;
	margin-top: 0 !important ;
        font-size: 20px ;
        line-height: 1.6;
}
p.intro {
	font-style: italic ;
	text-indent: 0 ;
	margin-bottom: 1.5em !important ;
}
p.outlink {
	font-style: italic ;
	text-indent: 0 ;
}
p.unindent {
	text-indent: 0 ;
	margin-top: 1.5em !important ;
	
}
blockquote {
	margin-bottom: 0 ;
	font-size: 18px ;
	line-height: 1.3 ;
}
p.piccredit {
	margin: 0 ;
	text-align: center;
	font-size: 16px ;
}
header {
	margin-top: 32px ;
	margin-bottom: 32px ;
	margin-left: -3em ;
	padding: 0 ;
	text-align: left ;
}
a {
	color: LemonChiffon ;
	text-decoration: underline ;
}
footer {
       	padding: 0 20px;
        margin: 50px 0;
       	text-align: center;
        font-size: 13px ;
}
li {
	margin-bottom: 0 ;
}
details {
	font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Constantia", serif ;
	font-size: 18px ;
	margin-bottom: 0.8em ;
}
p.social {
	font-size: 13px ;
	text-align: right ;
}

img.centre {
		
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
 
}

.headcentre {
	text-align: center !important ;	
}

p.bibitem {
	padding-left: 2em ;
	text-indent: -2em ;
}
