---
---
@import "{{ site.theme }}" ;
* {
        font-family: "Optima", "Myriad Pro", "Trebuchet MS", "Fira Sans", sans-serif;
      }
      html, body {
        margin: auto;
        padding: 0;
        color: "Yellow" ;
        background-color: #0892d0 ;
        max-width: "632px" ;
      }
      p {
        margin-bottom: 27px;
        font-size: "20px";
        line-height: 1.6;
      }
      p.intro {
	      font-style: italic ;
	      font-size: "16px" ;
	      }
      blockquote {
	      margin-bottom: 32px ;
	      font-size: "16px";
	      line-height: 1.2 ;
	   }
      img {
        max-width: "800px";
      }
      footer {
        padding: 0 "20px";
        margin: "50px" 0;
        text-align: center;
        font-size: "12px";
      }
      figcaption {
			margin: 0, 0 ;
			text-align: center ;
			font-size: "12px";
      }
